body {
  background: #ececec;
}
.form.order fieldset {
  background-color: #ececec;

}

.form.order fieldset input, .form.order fieldset textarea {

  border:1px solid #b9b9b9;
}
a {
  color: #e20000;
  border-color: #d6d6d6;
}

a:hover {
  border-color: #e20000;
}

.nav-global.nav-global_style-1 nav {
  border-color: #d5d6d7;
}

.nav-global.nav-global_style-1 nav ul li a:hover {
  color: #e20000;
}

.nav-global.nav-global_style-2, .nav-global.nav-global_style-7 {
  background: #e20000;
}

.nav-global.nav-global_style-2 nav ul li.act a, .nav-global.nav-global_style-7 nav ul li.act a {
  color: #ee8c8c;
}

.nav-global.nav-global_style-3 nav ul li.act a {
  border-color: #e20000;
}

.nav-global.nav-global_style-3 nav ul li a {
  border: 1px solid #d5d6d7;
}

.nav-global.nav-global_style-3 nav ul li a:hover {
  border-color: #e20000;
  background: #e20000;
}

.nav-global.nav-global_style-3 nav ul li a b {
  background-image: url(/img/nav-style-3-cs-1-bg.gif);
}

.nav-global.nav-global_style-4 nav {
  background-color: #e20000;
}

.nav-global.nav-global_style-4 nav ul li.act a {
  color: #ee8c8c;
}

.nav-global.nav-global_style-4 i.t, .nav-global.nav-global_style-4 b.b {
  background-image: url(/img/nav-style-4-cs-1-bg.png);
}

.nav-global.nav-global_style-5 nav {
  background-color: #e20000;
}

.nav-global.nav-global_style-5 nav ul li {
  border-color: #ee6666;
}

.nav-global.nav-global_style-5 nav ul li.act a {
  color: #ee8c8c;
}

.nav-global.nav-global_style-5 i.t, .nav-global.nav-global_style-5 b.b {
  background-image: url(/img/nav-style-5-cs-1-bg.png);
}

.container {
  border: 1px solid #d5d6d7;
  background: white;
}

.content .section-title .field, footer .section-title .field {
  border-color: #d5d6d7;
}

header .branding a {
  color: black;
}

header .tagline {
  color: #e20000;
}

.catalog-item .add-to-basket a {
  background: #ff2524;
  border-top: 1px solid #ee2322;
  border-left: 1px solid #ee2322;
  border-right: 1px solid #ee2322;

  border-radius: 0px;
  
}

.catalog-item .add-to-basket a .title {
	font-family: ElektraTextProRegular !important;padding:3px;
}


.catalog-item .add-to-basket a:hover {
  background: #df0a17;
  border-top: 1px solid #ee2322;
  border-left: 1px solid #ee2322;
  border-right: 1px solid #ee2322;

  border-radius: 0px;
}


.catalog-item .cost {
  color: #e20000;
}

.catalog-item .options ul li .extra {
  color: #e20000;
}

.catalog-item .catalog-item-image .carousel .next, .catalog-item .catalog-item-image .carousel .prev {
  background-image: url(/img/catalog-item-carousel-cs-1-bg.png);
}

.basket-holder .basket {
  background: #fff;
  border-color: #d5d6d7;
}

.basket-holder .basket li a {
  color: #39bb00;
  border-color: #d6d6d6;
}

.basket-holder .basket li a:hover {
  border-color: #39bb00;
}

.basket-popup .content h5 a {
  color: #39bb00;
  border-color: #d6d6d6;
}

.basket-popup .content h5 a:hover {
  border-color: #39bb00;
}

.menu-list li article .description h2 a, .menu-list li article .description h3 a, .catalog-list li article .description h2 a, .catalog-list li article .description h3 a, .news-list li article .description h2 a, .news-list li article .description h3 a {
  color: #000;
  border-color: #d6d6d6;
}

.menu-list li article .description h2 a:hover, .menu-list li article .description h3 a:hover, .catalog-list li article .description h2 a:hover, .catalog-list li article .description h3 a:hover, .news-list li article .description h2 a:hover, .news-list li article .description h3 a:hover {
  border-color: black;
}

.menu-list li.more p a .label, .catalog-list li.more p a .label, .news-list li.more p a .label {
  border-bottom: 1px solid #d6d6d6;
}

.menu-list li.more p a:hover .label, .catalog-list li.more p a:hover .label, .news-list li.more p a:hover .label {
  border-color: #e20000;
}

.menu-list.menu-list-categories .description h2 a, .menu-list.menu-list-categories .description h3 a, .catalog-list.menu-list-categories .description h2 a, .catalog-list.menu-list-categories .description h3 a, .news-list.menu-list-categories .description h2 a, .news-list.menu-list-categories .description h3 a {
  color: #e20000;
}

.promo-banner-countdown-horizontal .toggle {
  background-image: url(/img/banner-promo-cd-hz-collapsed-style-1-bg.png);
}

.promo-banner-countdown-horizontal .pbch-content {
  background: #efedcd;
}
.promo-banner-vertical .toggle {
  background-image: url(/img/banner-promo-side-collapsed-style-1-bg.png);
}

.promo-banner-vertical .pbv-content {
  background: #efedcd;
}

.promo-banner-vertical .pbv-content .image {
  border-color: #b8b89e !important;
}

.promo-banner-middle .pbm-content {
  background: #efedcd;
}

.promo-banner-corner .pbc-content {
  background: #efedcd;
}

.promo-banner-corner .pbc-content .image {
  border-color: #b8b89e !important;
}

.categories-grid .item {
  border-color: #e20000;
}

.categories-grid .item a {
  color: #000;
  border-color: #d6d6d6;
}

.categories-grid .item a:hover {
  border-color: black;
}

.services .item h2 a {
  color: #000;
  border-color: #d6d6d6;
}

.services .item h2 a:hover {
  border-color: black;
}

.services-price li .cost {
  color: #e20000;
}

.portfolio-photos li a {
  color: #000;
  border-color: #d6d6d6;
}

.portfolio-photos li a:hover {
  border-color: black;
}

.portfolio-photos.portfolio-photos-stack li a {
  color: #e20000;
  border-color: #d6d6d6;
}

.portfolio-photos.portfolio-photos-stack li a:hover {
  border-color: #e20000;
}
.promo-2-num-columns__item-title a {
color: #FFFFFF !important;
border-color: #D6D6D6;
}
.promo-2-columns__item-title a {
color: #FFFFFF !important;
border-color: #D6D6D6;
}
.promo-2-column-steps__item-content a {
color: #FFFFFF !important;
border-color: #D6D6D6;
}
.promo-3-columns__item-title a {
color: #FFFFFF !important;
border-color: #D6D6D6;
}
.promo-order__btn {
    margin-bottom: 21px;
    padding: 16px 50px 19px;
    outline: medium none;
    border: medium none;
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    background-color: #39BB00 !important;
}
.promo-order__form-submit {
    padding: 11px 30px 10px;
    outline: medium none;
    border: medium none;
    color: #FFF;
    background-color: #39BB00 !important;
    font-size: 18px;
    cursor: pointer;
    margin: 0px;
}
.promo-prices__order {
background-color: #39BB00;
}
.catalog-item-vars .add-to-basket {
background-color: #39BB00;
}
.promo-prices__order-form-submit {
background-color: #39BB00;
}
.promo-slider-04-item__btn {
background-color: #39BB00 !important;
}