.loupe {
  background-color: $white;
  color: black;
  overflow: hidden;
  background-position: -100% -100%;
  background-repeat: no-repeat;
  &:hover {
    cursor: url('/assets/loupe.svg'), auto;
    & img {
      opacity: 0;
    }
  }
}
