$gray-light: #d6d7d8;
$white: white;
$black: black;
$columnWidth: "100px";

@import "./modalSlider.scss";
@import "./loupe.scss";

.photoSlider {
  display: flex;
  flex-direction: column;
  // gap: 20px;
  // max-width: 363px;
  background-color: $gray-light;
  border-radius: 5px;
  border: 1px solid $gray-light;

  & * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  &_mainPhotoWrapper {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-height: 400px;
  }

  &__mainPhoto {
    transform-origin: center;
  }

  &__slider {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    min-height: 70px;
    display: flex;
    align-items: center;
  }
  &__thumbnailWrapper {
    position: absolute;
    display: flex;
    gap: 13px;
    transform: translateX(0);
    transition: transform 250ms linear 0s;
  }

  &__line {
    display: flex;
    gap: 5px;
    align-items: stretch;
    margin: 10px 0 10px 0;
  }

  &__column {
    display: flex;
    gap: 5px;
    align-items: stretch;
    flex-direction: column;
    margin: 0 10px 0 10px;
    & .photoSlider__slider {
      min-width: #{$columnWidth};
      min-height: 50vh;
    }
    & .photoSlider__thumbnailWrapper {
      flex-direction: column;
      top: 0;
      transform: translateY(0);
      @media screen and (min-width: 380px) {
        & {
          overflow-y: hidden;
        }
      }
    }
    & .photoSlider__thumbnail {
      width: #{$columnWidth};
      height: #{$columnWidth};
    }
    & .photoSlider__icons {
      transform: rotate(90deg);
    }
    & .photoSlider__iconsWrapper {
      &:hover {
        & svg {
          transform: translateY(5px) rotate(90deg);
          transition: transform 200ms linear;
        }
      }
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__thumbnail {
    box-sizing: border-box;
    border: 1px solid $white;
    border-radius: 8px;
    transition: border-color 0.2s ease-in;
  }
  &__icons {
    flex-grow: 0;
    flex-shrink: 0;
    width: 30px;
    align-self: center;
    box-sizing: border-box;
  }
  &__iconsWrapper {
    display: flex;
    justify-content: center;
    border-radius: 8px;

    &:hover {
      & svg {
        transform: translate(3px);
        transition: transform 200ms linear;
      }
    }
  }
  .photoSlider_active {
    border: 1px solid $black;
    border-width: 1px;
  }
  @media screen and (min-width: 380px) {
    &__thumbnailWrapper {
      overflow-x: hidden;
    }
  }
}
.photoSlider__iconsWrapper.prevBtn {
  transform: rotate(180deg);
}
