.modalSlider {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  z-index: 1000;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  transform: translate(-100vw);
  transition: opacity 500ms linear;
}
.modalSlider * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.modalSlider[data-open] {
  transform: translate(0);
  opacity: 1;
}
.modalSlider__closeButton {
  position: absolute;
  right: calc(25px + 70px);
  top: 25px;
  transition: transform 200ms ease-out;
}
.modalSlider__closeButton:hover {
  transform: rotate(90deg);
}
.modalSlider__container {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modalSlider__prevBtn {
  transform: rotate(180deg);
}
.modalSlider__prevBtn, .modalSlider__nextBtn {
  min-width: 70px;
  align-self: stretch;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: background-color 0.4s linear;
}
.modalSlider__prevBtn:hover, .modalSlider__nextBtn:hover {
  background-color: #f7f4f4;
}
.modalSlider__prevBtn:hover svg, .modalSlider__nextBtn:hover svg {
  transform: translate(10px);
  transition: transform 200ms linear;
}
.modalSlider_innerWidth {
  width: calc(100vw - 70px - 70px);
  max-width: 600px !important;
  height: 600px;
}
@media (max-width: 400px) {
  .modalSlider {
    display: none;
  }
}

.photoSlider {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 363px;
}
.photoSlider * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.photoSlider__mainPhotoWrapper {
  position: relative;
  background-color: white;
  overflow: hidden;
  min-height: 400px;
}
.photoSlider__mainPhotoWrapper:hover {
  cursor: url("/assets/loupe.svg"), auto;
}
.photoSlider__mainPhotoWrapper:hover img {
  position: absolute;
}
.photoSlider__mainPhoto {
  transform-origin: center;
}
.photoSlider__slider {
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  min-height: 70px;
  display: flex;
  align-items: center;
}
.photoSlider__thumbnailWrapper {
  position: absolute;
  display: flex;
  gap: 10px;
  transform: translateX(0);
  transition: transform 250ms linear 0s;
}
.photoSlider__line {
  display: flex;
  gap: 5px;
  align-items: stretch;
}
.photoSlider__thumbnail {
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 8px;
  transition: border-color 0.2s ease-in;
}
.photoSlider__icons {
  flex-grow: 0;
  flex-shrink: 0;
  width: 30px;
  align-self: center;
  box-sizing: border-box;
}
.photoSlider__iconsWrapper {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  transition: background-color 0.4s linear;
}
.photoSlider__iconsWrapper:hover {
  background-color: #f7f4f4;
}
.photoSlider__iconsWrapper:hover svg {
  transform: translate(3px);
  transition: transform 200ms linear;
}
.photoSlider .photoSlider_active {
  border: 1px solid black;
  border-width: 1px;
}
@media screen and (min-width: 380px) {
  .photoSlider__thumbnailWrapper {
    overflow-x: hidden;
  }
}

.photoSlider__iconsWrapper.prevBtn {
  transform: rotate(180deg);
}

/*# sourceMappingURL=photoSlider.css.map */
