body[data-open] {
  height: 100vh;
  overflow-y: hidden;
  padding-right: 15px; /* Avoid width reflow */
}

.modalSlider {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  border: 1px solid white;
  z-index: 1000;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  transform: translate(-100vw);
  transition: opacity 500ms linear;
}
.modalSlider * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.modalSlider[data-open] {
  transform: translate(0);
  opacity: 1;
}
.modalSlider__closeButton {
  position: absolute;
  right: calc(25px + 40px);
  top: 25px;
  transition: transform 200ms ease-out;
}
.modalSlider__closeButton:hover {
  transform: rotate(90deg);
}
.modalSlider__container {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modalSlider__prevBtn {
  transform: rotate(180deg);
}
.modalSlider__prevBtn, .modalSlider__nextBtn {
  min-width: 40px;
  align-self: stretch;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.modalSlider__prevBtn:hover svg, .modalSlider__nextBtn:hover svg {
  transform: translate(10px);
  transition: transform 200ms linear;
}
.modalSlider__leftWrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.modalSlider_innerWidth {
  width: calc(100vw - 40px - 40px);
  max-width: 600px !important;
  height: 600px;
  background-color: white !important;
  border-radius: 5px;
  border: 1px solid white !important;
}
.modalSlider_bg {
  background-color: white !important;
  border: 1px solid white !important;
}
@media (max-width: 400px) {
  .modalSlider {
    display: none;
  }
}

.loupe {
  background-color: white;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .loupe {
    background-color: white;
    color: black;
    overflow: hidden;
    background-position: -100% -100%;
    background-repeat: no-repeat;
  }
  .loupe:hover {
    cursor: zoom-in;
  }
  .loupe:hover img {
    opacity: 0;
  }
}

.innerSlider {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  border: 1px solid white;
}
.innerSlider * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.innerSlider_mainPhotoWrapper {
  position: relative;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  min-height: 400px;
}
.innerSlider__mainPhoto {
  transform-origin: center;
}
.innerSlider__slider {
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  min-height: 70px;
  display: flex;
  align-items: center;
}
.innerSlider__thumbnailWrapper {
  position: absolute;
  display: flex;
  gap: 13px;
  transform: translateX(0);
  transition: transform 250ms linear 0s;
}
.innerSlider__line {
  display: flex;
  gap: 5px;
  align-items: stretch;
  margin: 10px 0 10px 0;
}
.innerSlider__column {
  display: flex;
  gap: 5px;
  align-items: stretch;
  flex-direction: column;
  margin: 0 10px 0 10px;
}
.innerSlider__column .innerSlider__slider {
  min-width: 100px;
  min-height: 50vh;
}
.innerSlider__column .innerSlider__thumbnailWrapper {
  flex-direction: column;
  top: 0;
  transform: translateY(0);
}
@media screen and (min-width: 380px) {
  .innerSlider__column .innerSlider__thumbnailWrapper {
    overflow-y: hidden;
  }
}
.innerSlider__column .innerSlider__thumbnail {
  width: 100px;
  height: 100px;
}
.innerSlider__column .innerSlider__icons {
  transform: rotate(90deg);
}
.innerSlider__column .innerSlider__iconsWrapper:hover svg {
  transform: translateY(5px) rotate(90deg);
  transition: transform 200ms linear;
}
@media screen and (max-width: 768px) {
  .innerSlider__column {
    display: none;
  }
}
.innerSlider__thumbnail {
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 8px;
  transition: border-color 0.2s ease-in;
}
.innerSlider__icons {
  flex-grow: 0;
  flex-shrink: 0;
  width: 30px;
  align-self: center;
  box-sizing: border-box;
}
.innerSlider__iconsWrapper {
  display: flex;
  justify-content: center;
  border-radius: 8px;
}
.innerSlider__iconsWrapper:hover svg {
  transform: translate(3px);
  transition: transform 200ms linear;
}
.innerSlider [data-active] {
  border: 1px solid black;
  border-width: 1px;
}
.innerSlider__iconsWrapper.prevBtn {
  transform: rotate(180deg);
}
@media screen and (min-width: 380px) {
  .innerSlider__thumbnailWrapper {
    overflow-x: hidden;
  }
}

/*# sourceMappingURL=style.css.map */
